@import "partials/functions";
@import "partials/vars";
@import "partials/mixins";
@include links;
body {
  font-family: $main-font;
  font-weight: 100;
  color: $text-color;
  background-color: $body-bkgd-color;
  font-size: em(18px);
  @include large-screens {
    font-size: 125%
  }
}

//////loops\\\\\\\
//////for
@for $i from 1 through 6 {
  // through loops to 6, to stops at 5
  .col-#{$i} {
    width: $i * 2em;
  }
}

//////each
$speakers: bob, patty, sandy;
@each $speaker in $speakers {
  .#{$speaker}-profile {
    background-image: url('/img/#{$speaker}-pic.png');
  }
}

$font-sizes: (tiny: 8px, small: 11px, medium: 14px, large: 18px);
//name = key, size = value
@each $name, $size in $font-sizes{
  .#{$name} {
    font-size: $size;
  }
}

//////while
$j: 2;
@while $j <= 8 {
  .picture-#{$j} {
    width: $j * 10%;
  }
  //assign new value to meet conditional
  $j: $j + 2;
}

@include ie_6 {
  body {
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

h2 {
  @include large-text;
}

p {}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 15%);
  }
}

.warning-button {
  @include warning;
  padding: 8px 12px;
}

.cta-button {
  //inheritance
  @extend .warning-button;
  @include rounded;
  font-weight: bold;
}

#header {
  @include box(8px, 1px solid #999);
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $sec-color);
  height: $header-height;
  background-color: $theme-color;
  #main-menu {
    li {
      display: inline;
    }
    a {
      color: $menu-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize($color: #fefefe, $amount: 1);
      transition: border-bottom .5s;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        border-bottom: 1px solid opacify($color: #fefefe, $amount: .5);
      }
    }
  }
  #logo {}
}

#main {
  width: $content-width;
  @include large-screens {
    width: auto;
    max-width: $content-width;
  }
  margin: 0 auto;
  #content {
    float: left;
    width: 6 * $col;
  }
  #sidebar {
    float: right;
    width: 2 * $col;

    li {
      list-style-type: none;
      padding: em(16px) em(20px);
      border-bottom: 1px dashed #999;

      &:hover {
        background-color: #efefef;
      }
    }
  }
}

#footer {
  clear: both;
  height: $footer-height;
  background-color: $tern-color;
}